/* theme: colorkit */
.cm-s-colorkit { background-color: #f8f8f8; color: black; }
.cm-s-colorkit .CodeMirror-gutter { background: #f8f8f8; border-right: 1px solid #d2d2d2; }
.cm-s-colorkit .CodeMirror-gutter-text > pre { color: #a2a2a2; }
.cm-s-colorkit span.cm-comment { color: #a1a1a1; }
.cm-s-colorkit span.cm-keyword { line-height: 1em; font-weight: bold; color: #5b99dc; }
.cm-s-colorkit span.cm-string { color: #f18900; }
.cm-s-colorkit span.cm-builtin { line-height: 1em; font-weight: bold; color: #077; }
.cm-s-colorkit span.cm-special { line-height: 1em; font-weight: bold; color: #0aa; }
.cm-s-colorkit span.cm-variable { color: #b769ad; }
.cm-s-colorkit span.cm-variable-2, .cm-s-colorkit span.cm-variable-3, .cm-s-colorkit span.cm-def { color: #535366; }
.cm-s-colorkit span.cm-number, .cm-s-colorkit span.cm-atom { color: #6f8900; }
.cm-s-colorkit span.cm-meta {color: #66665d;}
.cm-s-colorkit span.cm-error { color: #9d1e15; }
.cm-s-colorkit span.cm-bracket { color: #d8d8d8; }
.cm-s-colorkit span.cm-tag {color: #5b6fbd;}
.cm-s-colorkit span.cm-attribute {color: #738d00;}
.cm-s-colorkit span.cm-link { color: #3a3; }
.cm-s-colorkit div.CodeMirror-selected { background: #d2dcf8 !important; }


/* insert tab */
      .cm-tab:after {
        content: "\21e5";
        display: -moz-inline-block;
        display: -webkit-inline-block;
        display: inline-block;
        width: 0px;
        position: relative;
        overflow: visible;
        left: -1.4em;
        color: #aaa;
		opacity: 0.5;
      }

/* matching highlight */
      span.CodeMirror-matchhighlight { background: #f4f47d; }
      .CodeMirror-focused span.CodeMirror-matchhighlight { background: #f8acac; !important }

/* show active line */
      .activeline {background: #e6e6e6 !important;}

/* match highlight */
.CodeMirror-completions select {
  background: #fafafa;
  outline: none;
  border: none;
  padding: 0;
  margin: 0;
  font-family: monospace;
}

/* guttor */
.CodeMirror-gutter {
  width: 3em;
  background: white;
}

/* 키맵변경 기능 */
.andrwj-keymap-change {
	margin: 0 0 3px 5px;
	padding: 0 1px 5px 1px;
	height: 16px; 
	font-size: 8pt;
	color: gray;
	font-weight: normal;
	line-height: 12px;
}

.andrwj-keymap-change.vim-on {
	color: green;
	font-weight: bold;
}

/* 컨트롤 박스 폰트 변경 */
body {
	font-family: "Source Sans Pro", "Apple SD Gothic Neo", "Trebuchet MS", "SourceSans", "Helvetica Neue", Helvetica, Arial;
}

/* 편집기 폰트 */
.editbox .CodeMirror {
	font-family: "Source Sasns Pro", "Apple SD Gothic Neo", "Trebuchet MS", "SourceSans", "Helvetica Neue", Helvetica, Arial;
	font-size: 13px;
}
